<section class="about-us" id="about-us">
  <h2 class="about-us-title">Equipo</h2>
  <div class="container about-us-container">
    <!-- <h2 class="about-us-title" >Equipo</h2> -->
    <p class="paragraphs">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. lore lor
      Molestias, quaerat illo repellat, ipsa vitae incidunt non minus temporibus
      laboriosam quos sed voluptatem officia deserunt dolor dolore eos quis ut
      iste?
    </p>
    <br />
    <p class="paragraphs">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit consectetur
      nesciunt quidem? Praesentium totam fugiat, eligendi autem enim tempora
      quisquam quam provident iure similique corrupti ipsa ut sint architecto
      dolorem?
    </p>

    <!-- <div class="square"></div> -->
  </div>
  <!-- <br>     -->

</section>