<section class="about-us">
    <h2 class="about-us-title">Equipo</h2>
    <div class="container about-us-container">
        <!-- <h2 class="about-us-title" >Equipo</h2> -->
        <p class="paragraphs"> Equipo #4, 4 mujeres y 1 proyecto a desarrollar: así ha empezado todo.
            Four for one: 4 mujeres con un proyecto. 4 mujeres en el mismo lugar. 4 mujeres con la misma meta:
            convertirnos en programadoras. 4 mujeres trabajando a una.</p> <br>
        <!-- <p class="paragraphs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit consectetur nesciunt quidem? Praesentium totam fugiat, eligendi autem enim tempora quisquam quam provident iure similique corrupti ipsa ut sint architecto dolorem?</p> -->

        <!-- <div class="square"></div> -->
    </div>
    <!-- <br>     -->

</section>