<section class="members">
    <h2 id="who-we-are">QUIÉNES SOMOS</h2>

    <!--miembro 1-->
    <div class="box_members">
        <div class="member_768_left">
            <div class="box_foto">

                <img class="foto_adalaber" src="./assets/images/adalaber_1.png" alt="fotoadalaber" />
            </div>

            <div class="box_description">
                <div class="parr">
                    <h4 class="style_name">Mesalina</h4>

                    <p>
                        Mesalina Bracho. 39 años, Licenciada en Ciencias Económicas y Empresariales y futura
                        Programadora Frontend. Curiosa,
                        inquieta, sensata y capaz de aceptar cualquier reto y llevarlo a cabo.
                    </p>
                </div>

                <div class="icon_sm">
                    <a href="https://www.linkedin.com/" title="Linkedin" target="_blank" class="icon_color"><i
                            class="fab fa-linkedin"></i></a>
                    ·
                    <a href="https://www.twitter.com" title="Twitter" target="_blank" class="icon_color"><i
                            class="fab fa-twitter"></i></a>
                    ·
                    <a href="https://www.github.com" title="Git" target="_blank" class="icon_color"><i
                            class="fab fa-github-alt"></i></a>
                    ·
                    <a href="https://mailto:@gmail.com" title="Correo" target="_blank" class="icon_color"><i
                            class="fas fa-envelope"></i></a>
                </div>
            </div>
        </div>
        <!--miembro 2-->
        <div class="box_members">
            <div class="member_768_right">


                <div class="box_foto">

                    <img class="foto_adalaber" src="./assets/images/adalaber_2.jpg" alt="fotoadalaber" />
                </div>

                <div class="box_description right">
                    <div class="parr">
                        <h4 class="style_name">Sara</h4>

                        <p>
                            Futura Front-end Developer, multidisciplinar y con una gran capacidad de adaptación y
                            resiliencia. Me gustaría destacar
                            mi atención al detalle, mi afán de superación y mi gusto para el aprendizaje y los idiomas.
                        </p>
                    </div>

                    <div class="icon_sm">
                        <a href="https://www.linkedin.com/" title="Linkedin" target="_blank" class="icon_color"><i
                                class="fab fa-linkedin"></i></a>
                        ·
                        <a href="https://www.twitter.com" title="Twitter" target="_blank" class="icon_color"><i
                                class="fab fa-twitter"></i></a>
                        ·
                        <a href="https://www.github.com" title="Git" target="_blank" class="icon_color"><i
                                class="fab fa-github-alt"></i></a>
                        ·
                        <a href="https://mailto:@gmail.com" title="Correo" target="_blank" class="icon_color"><i
                                class="fas fa-envelope"></i></a>
                    </div>
                </div>
            </div>
            <!--miembro 3 -->
            <div class="box_members">
                <div class="member_768_left">
                    <div class="box_foto">

                        <img class="foto_adalaber" src="./assets/images/adalaber_3.jpg" alt="fotoadalaber" />
                    </div>

                    <div class="box_description">
                        <div class="parr">
                            <h4 class="style_name">Andrea</h4>

                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Voluptatum sit assumenda dignissimos natus optio totam animi
                                distinctio. Excepturi qui quae aperiam nisi facilis a iste
                                corporis nam, suscipit officiis facere.
                            </p>
                        </div>

                        <div class="icon_sm">
                            <a href="https://www.linkedin.com/" title="Linkedin" target="_blank" class="icon_color"><i
                                    class="fab fa-linkedin"></i></a>
                            ·
                            <a href="https://www.twitter.com" title="Twitter" target="_blank" class="icon_color"><i
                                    class="fab fa-twitter"></i></a>
                            ·
                            <a href="https://www.github.com" title="Git" target="_blank" class="icon_color"><i
                                    class="fab fa-github-alt"></i></a>
                            ·
                            <a href="https://mailto:@gmail.com" title="Correo" target="_blank" class="icon_color"><i
                                    class="fas fa-envelope"></i></a>
                        </div>
                    </div>
                </div>
                <!--miembro 4 -->

                <div class="box_members">
                    <div class="member_768_right">


                        <div class="box_foto">

                            <img class="foto_adalaber" src="./assets/images/adalaber_4.jpg" alt="fotoadalaber" />
                        </div>

                        <div class="box_description right">
                            <div class="parr">
                                <h4 class="style_name">Clara</h4>

                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Voluptatum sit assumenda dignissimos natus optio totam animi
                                    distinctio. Excepturi qui quae aperiam nisi facilis a iste
                                    corporis nam, suscipit officiis facere.

                                </p>
                            </div>

                            <div class="icon_sm">
                                <a href="https://www.linkedin.com/" title="Linkedin" target="_blank"
                                    class="icon_color"><i class="fab fa-linkedin"></i></a>
                                ·
                                <a href="https://www.twitter.com" title="Twitter" target="_blank" class="icon_color"><i
                                        class="fab fa-twitter"></i></a>
                                ·
                                <a href="https://www.github.com" title="Git" target="_blank" class="icon_color"><i
                                        class="fab fa-github-alt"></i></a>
                                ·
                                <a href="https://mailto:@gmail.com" title="Correo" target="_blank" class="icon_color"><i
                                        class="fas fa-envelope"></i></a>
                            </div>
                        </div>
                    </div>

                </div>
</section>