<section class="contact-description">
    <h2 class="contact-description-title" >Contacto</h2>
    <div class="container contact-description-container">
        <p class="contact-paragraphs">
            Si deseas que un equipo comprometido, organizado, competente y capaz de enfrentarse a cualquier reto colabore con tu empresa, no dudes en ponerte en contacto con nosotras enviándonos un mensaje a través del siguiente formulario.
        </p>     
        <small class="contact-small-print">Todos los campos marcados con <span class="ast">*</span> son obligatorios </small>
    </div>


</section>