<section class="description">
    <h2 class="description-title" >Contacto</h2>
    <div class="container description-container">
        <p class="paragraphs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit consectetur nesciunt quidem? Praesentium totam fugiat, eligendi autem enim tempora quisquam quam provident iure similique corrupti ipsa ut sint architecto dolorem?</p>     
        <small class="small-print">Todos los campos marcados con <span class="ast">*</span> son obligatorios </small>
    </div>


</section>