<form class="form" action="" method="post">

    <fieldset class=" form__name">


        <label for="Name">Nombre completo <span class="asterisk">*</span> </label>
        <input placeholder="Nombre..." id="Name" type="text" name="nombre" required>

        </div>

        <fieldset class="form__email">

            <label for="email">Email <span class="asterisk">*</span></label>
            <input class="email" placeholder="nombre.apellidos@mail.com" id="email" type="email" name="email" required>

        </fieldset>

        <fieldset class="form__phone">

            <label for="telefono">Teléfono </label>
            <input placeholder="Ej: 123456789" id="telefono" type="tel" name="tel" required>

        </fieldset>

        <fieldset class="form__text">

            <label for="comments">Mensaje <span class="asterisk">*</span></label>
            <textarea placeholder="¿Qué necesitas?" id="comments" name="mensaje" rows="8" cols="45"></textarea>

        </fieldset>
        <fieldset class="form__submit">

            <input type="submit" value="Enviar">

        </fieldset>
</form>