<div class="container_form">
    <form class="form" action="" method="post">
        <!--formspree-->

        <label for="name">Nombre completo <span class="asterisk">*</span> </label>
        <input placeholder="Nombre..." id="Name" type="text" name="nombre" required>


        <div class="desktop">
            <div class=" box1"><label for="email">Email <span class="asterisk">*</span></label>
                <input class="email" placeholder="nombre.apellidos@mail.com" id="email" type="email" name="email"
                    required>

            </div>
            <div class=" box2"><label for="tel">Teléfono </label>
                <input class="tel" placeholder="Ej: 123456789" id="telefono" type="tel" name="tel" required>
            </div>

        </div>


        <label for="comments">Mensaje <span class="asterisk">*</span></label>
        <textarea placeholder="¿Qué necesitas?" id="comments" name="mensaje" rows="8" cols="45"></textarea>



        <input class="submit" type="submit" value="Enviar">


    </form>
</div>