<div class="fondo-fyd">
    <!-- <section class="container_square">
        <div class="square"></div>
    </section> -->

    <section class="fyd">

        <div class="fortalezas-f">
            <h3 class="fortalezas">Fortalezas</h3>
            <p class="texto-f">
                La principal fortaleza del equipo es su gran capacidad para afrontar un reto común. 
                Tenemos un gran espíritu de equipo, nos apoyamos las unas en las otras. Son nuestras diferencias individuales y nuestros distintos puntos de vista los que nos convierten en un equipo <strong>fuerte</strong>.                 
            </p>
        </div>

        <div class="debilidades-d">
            <h3 class="debilidades">Debilidades </h3>
            <p class="texto-d">
                Nuestra principal debilidad es la falta de experiencia en esta nueva tecnología. A pesar de ello nos esforzamos al máximo para suplir esa carencia.
            </p>
        </div>


    </section>

</div>