<div class="fondo-fyd">
    <section class="container_square">
        <div class="square"></div>
    </section>

    <section class="fyd">

        <div class="fortalezas-f">
            <h3 class="fortalezas">Fortalezas</h3>
            <p class="texto-f">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem asperiores perspiciatis
                itaque
                odit debitis
                ipsum veniam repellendus sequi corporis natus illo, exercitationem ipsa quo in hic quae quaerat harum
                earum.
            </p>
        </div>

        <div class="debilidades-d">

            <h3 class="debilidades">Debilidades </h3>
            <p class="texto-d">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem asperiores perspiciatis
                itaque
                odit debitis
                ipsum veniam repellendus sequi corporis natus illo, exercitationem ipsa quo in hic quae quaerat harum
                earum.
            </p>
        </div>


    </section>

</div>