<section>     
    <h3>Fortalezas</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem asperiores perspiciatis itaque odit debitis ipsum veniam repellendus sequi corporis natus illo, exercitationem ipsa quo in hic quae quaerat harum earum.</p>
 
    <h3>Debilidades </h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem asperiores perspiciatis itaque odit debitis ipsum veniam repellendus sequi corporis natus illo, exercitationem ipsa quo in hic quae quaerat harum earum.</p>
 </section>