$dark-green: #099d8d;
$light-green: #14d9c4;
$white: #ffffff;
$black: #000000;
$dark-grey: #54585a;
$light-grey: #b8b8b9;
$grey-bg: #f1f1f1;
$main-font: Open Sans, sans-serif;
$second-font: Rubik, sans-serif;
