$dark-green: #343953;
$light-green: #9f9dc9;
$white: #ffffff;
$black: #343953;
$dark-grey: #54585a;
$light-grey: #b8b8b9;
$grey-bg: #f1f1f1;
$main-font: Open Sans, sans-serif;
$second-font: Rubik, sans-serif;
