/* START CONTACT DESCRIPTION */
.contact-description {
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  .contact-description-container {
    text-align: center;
    background-color: $white;
    margin-bottom: 30px;
    // height: 144px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 15px;
    .contact-paragraphs {
      color: $dark-grey;
      text-align: center;
      font-size: 16px;
      line-height: 24px;
      font-family: $main-font;
      padding-bottom: 30px;
    }
    .contact-small-print {
      background-color: salmon;
      font-family: $main-font;
      color: $dark-grey;
      font-size: 12px;
      display: inline-block;
    }
    .ast {
      color: $light-green;
    }
    @media all and (min-width: 768px) {
      // height: 120px;
      margin-top: 15px;
      margin-bottom: 44px;
      margin-left: 163px;
      margin-right: 163px;
    }
    @media all and (min-width: 1200px) {
      // height: 96px;
      background-color: $white;
      margin-top: 15px;
      margin-bottom: 58px;
      margin-left: 300px;
      margin-right: 300px;
    }
  }
}

.contact-description-title {
  margin-top: 30px;
  margin-bottom: 15px;
  margin-right: auto;
  margin-left: auto;
  color: $dark-green;
  font-weight: 500;
  font-size: 24px;
  text-transform: uppercase;
  font-family: $second-font;
  @media all and (min-width: 768px) {
    margin-top: 45px;
    margin-bottom: 15px;
  }
  @media all and (min-width: 1200px) {
    margin-top: 45px;
    margin-bottom: 15px;
  }
}

/* END CONTACT DESCRIPTION */
