/* FOOTER */

.footer {
  width: 100%;
  height: 250px;
  box-sizing: border-box;
  border: 1px solid $light-grey;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
@media all and (min-width: 768px) {
  .footer {
    width: 100%;
    height: 170px;
    display: block;
  }
}
@media all and (min-width: 1200px) {
  .footer {
    width: 100%;
    height: 161px;
  }
}
.nombre {
  width: auto;
  height: 20;
  color: $light-grey;
  font-size: 14px;
  font-family: $main-font;
  padding-top: 30px;
  padding-right: 20px;
  padding-left: 20px;
}
@media all and (min-width: 768px) {
  .nombre {
    padding-top: 30px;
    padding-left: 45px;
    padding-right: 182px;
    width: auto;
    float: left;
  }
}
@media all and (min-width: 1200px) {
  .nombre {
    padding-left: 138px;
    padding-right: 428px;
  }
}
.footer-nav {
  width: auto;
  height: 60px;
}
@media all and (min-width: 768px) {
  .footer-nav {
    padding-top: 24px;
    padding-bottom: 56px;
    padding-right: 45px;
    width: auto;
    float: right;
    text-align: right;
  }
}
@media all and (min-width: 1200px) {
  .footer-nav {
    padding-top: 24px;
    padding-bottom: 47px;
    padding-right: 138px;
  }
}

.footer-menu {
  text-decoration: none;
  color: $dark-grey;
  font-family: $main-font;
  font-size: 14px;
}
.image {
  width: 115.9px;
  height: 45px;
}
@media all and (min-width: 768px) {
  .image {
    padding-top: 15px;
    padding-left: 45px;
    padding-right: 182px;
    width: auto;
    height: 45px;
    float: left;
  }
}
@media all and (min-width: 1200px) {
  .image {
    padding-left: 138px;
  }
}
/* END FOOTER */
