/* FOOTER */

.footer {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid $light-grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  @media all and (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "small menu" "adalab-logo menu";
  }
}

.nombre {
  width: auto;
  color: $light-grey;
  font-size: 14px;
  line-height: 20px;
  font-family: $main-font;
  margin-top: 30px;
  margin-bottom: 20px;
  @media all and (min-width: 768px) {
    grid-area: small;
    justify-self: start;
    margin: 30px 0px 15px 45px;
  }
  @media all and (min-width: 1200px) {
    margin-bottom: 15px;
    margin: 30px 0px 15px 138px;
  }
}

.footer-nav {
  @media all and (min-width: 768px) {
    grid-area: menu;
    text-align: right;
    margin: 24px 45px 56px 0px;
  }
  @media all and (min-width: 1200px) {
    grid-area: menu;
    text-align: right;
    margin: 24px 138px 47px 0px;
  }
}
.footer-menu {
  text-decoration: none;
  color: $dark-grey;
  font-family: $main-font;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}

.image1 {
  width: 115.9px;
  margin-top: 30px;
  margin-bottom: 45px;
  @media all and (min-width: 768px) {
    grid-area: adalab-logo;
    margin: 0px 0px 60px 36px;
    float: left;
  }
  @media all and (min-width: 1200px) {
    grid-area: adalab-logo;
    margin: 0px 0px 60px 125px;
    float: left;
  }
}
/* END FOOTER */
