/* START HEADER  */

.tittle {
  background-color: $dark-green;
  opacity: 0.95;
  color: $white;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  border: 1px solid $light-grey;
  text-transform: uppercase;
  font-family: $second-font;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  z-index: 2;
}
@media all and (min-width: 768px) {
  .tittle {
    display: flex;
    position: fixed;
    justify-content: left;
    padding-left: 45px;
    width: 26.693%;
    border-bottom: none;
    border-right: none;
  }
}
@media all and (min-width: 1200px) {
  .tittle {
    padding-left: 142px;
    width: 50%;
  }
}
.links-menu {
  color: $white;
  text-decoration: none;
  font-weight: 500;
}
.menu {
  background-color: $light-green;
  padding: 20px;
  opacity: 0.95;
  width: 100%;
  height: 45px;
  border: 1px solid &light-grey;
  position: fixed;
  transform: translate(0, 130%);
  text-align: center;
  font-family: $second-font;
  font-size: 15px;
  z-index: 2;
}
@media all and (min-width: 768px) {
  .menu {
    position: fixed;
    transform: translateX(0);
    width: 76.307%;
    left: 26.693%;
    background-color: $dark-green;
    height: 60px;
  }
}
@media all and (min-width: 1200px) {
  .menu {
    width: 50%;
    left: 50%;
  }
}
.menu-nietos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

@media all and (min-width: 768px) {
  .menu-nietos {
    float: right;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
}
@media all and (min-width: 1200px) {
  .menu {
    width: 50%;
    left: 50%;
  }
}
@media all and (min-width: 768px) {
  .equipo {
    padding-left: 224px;
  }
}
@media all and (min-width: 1200px) {
  .equipo {
    padding-left: 138px;
  }
}
@media all and (min-width: 768px) {
  .contacto {
    padding-right: 45px;
  }
}
@media all and (min-width: 1200px) {
  .contacto {
    padding-right: 138px;
  }
}
/* END HEADER */
