/* STRENGTHS AND WEAKNESSES */

.fondo-fyd {
  background-color: rgba(184, 184, 185, 0.2);
  width: 100%;
  padding: 30px 15px 30px;
  @media all and (min-width: 768px) {
    margin: 16px 0 0;
    padding: 45px 45px 60px 45px;
  }
  @media all and (min-width: 1200px) {
    margin: 16px 0 0;
    padding: 45px 138px 60px 138px;
  }
}
.fyd {
  box-sizing: border-box;
  left: 50%;
  top: 50%;
  .texto-f {
    font-family: $main-font;
    font-size: 16px;
    color: $dark-grey;
    line-height: 24px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
    text-align: center;
    @media all and (min-width: 768px) {
      margin-bottom: 0px;
      margin-left: 0px;
      margin-right: 0px;
    }
  }
  .texto-d {
    font-family: $main-font;
    font-size: 16px;
    color: $dark-grey;
    line-height: 24px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    @media all and (min-width: 768px) {
      margin-left: 0px;
      margin-right: 0px;
    }
  }
  .fortalezas {
    font-family: $second-font;
    font-size: 22px;
    color: $dark-green;
    text-transform: capitalize;
    margin-top: 30px;
    margin-bottom: 15px;
    align-items: center;
    text-align: center;
    margin: 15px 30px;
    font-weight: 500;
  }
  .debilidades {
    font-family: $second-font;
    font-size: 22px;
    color: $dark-green;
    text-transform: capitalize;
    margin-top: 30px;
    margin-bottom: 15px;
    align-items: center;
    text-align: center;
    margin: 15px 30px;
    font-weight: 500;
  }

  @media all and (min-width: 768px) {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    .fortalezas-f {
      // background-color: yellow;
      width: 42%;
      margin-right: 30px;
    }
    .debilidades-d {
      // background-color: yellowgreen;
      width: 42%;
    }
  }
  @media all and (min-width: 1200px) {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    .fortalezas-f {
      // background-color: yellow;
      width: 42%;
      margin-right: 45px;
    }
    .debilidades-d {
      // background-color: yellowgreen;
      width: 42%;
    }
  }
}

strong {
  font-weight: bold;
  text-transform: uppercase;
}

/* END STRENGTHS AND WEAKNESSES */
