@import "core/variables";
@import "core/reset";
@import "components/code";
@import "components/links";
@import "layout/page";
@import "layout/header";
@import "layout/footer";
@import "pages/index";

:root {
  --dark-green: #099d8d;
  --light-green: #14d9c4;
  --white: #ffffff;
  --black: #000000;
  --dark-grey: #54585a;
  --light-grey: #b8b8b9;
  --grey-bg: #f1f1f1;
  --main-font: Open Sans, sans-serif;
  --second-font: Rubik, sans-serif;
}

/* START HEADER  */

.tittle {
  background-color: var(--dark-green);
  opacity: 0.95;
  color: var(--white);
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  border: 1px solid var(--light-grey);
  text-transform: uppercase;
  font-family: var(--second-font);
  font-size: 16px;
  line-height: 30px;
  z-index: 2;
}

.links-menu {
  color: var(--white);
  text-decoration: none;
}
.menu {
  background-color: var(--light-green);
  padding: 20px;
  opacity: 0.95;
  box-sizing: border-box;
  width: 100%;
  height: 45px;
  border: 1px solid var(--light-grey);
  position: fixed;
  transform: translate(0, 130%);
  font-family: var(--second-font);
  font-size: 15px;
  z-index: 2;
}
.menu-nietos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

/* END HEADER */

/* START HERO */

.container {
  margin-left: 15px;
  margin-right: 15px;
}

.hero-bg {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 421px;
}
.hero-bg-768 {
  display: none;
}
.hero-bg-1200 {
  display: none;
}

/* END HERO */

/* START MOTTO */
.motto-container {
  position: absolute;
  z-index: 1;
  top: 387px;
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.motto {
  text-align: left;
  margin-top: 14px;
  margin-bottom: 16px;
  margin-left: 15px;
  margin-right: 15px;
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
}

/* END MOTTO */

/* START ABOUT US */
.about-us {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}
.about-us-container {
  text-align: center;
  background-color: var(--white);
  /* padding-bottom: 30px; */
}

.about-us-title {
  /* position: relative;
    text-align: center; */
  margin-top: 497px;
  margin-bottom: 15px;
  margin-right: auto;
  margin-left: auto;
  color: var(--light-green);
  font-weight: 500;
  font-size: 24px;
  text-transform: uppercase;
  font-family: "Rubik", sans-serif;
}
.paragraphs {
  color: #54585a;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  font-family: "Open Sans", sans-serif;
}
/* END ABOUT US */

/* START SQUARE */
.square {
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  transform: rotate(45deg) translate(10px, 10px);
  width: 30px;
  height: 30px;
  background-color: #14d9c4;
  /* margin-top: -14px; */
}

/* END SQUARE */

/* START ADALABERS */

@import "layout/adalabers";

/* STRENGTHS AND WEAKNESSES */
/* END STRENGTHS AND WEAKNESSES */ /* FOOTER */
.footer {
  width: 100%;
  height: 250px;
  box-sizing: border-box;
  border: 1px solid var(--light-grey);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.nombre {
  width: 172px;
  height: 20;
  color: #b8b8b9;
  font-size: 14px;
  font-family: var(--main-font);
}
.footer-nav {
  width: 100%;
  height: 60px;
}
.footer-menu {
  text-decoration: none;
  color: #54585a;
  font-family: var(--main-font);
  font-size: 14px;
}
.image {
  width: 115.9px;
  height: 45px;
}

/* END FOOTER */

@media all and (min-width: 768px) {
  .container {
    margin: 0 45px;
  }
  /* START HERO */
  .hero-bg {
    display: none;
  }
  .hero-bg-768 {
    display: inline-block;
    top: 0px;
    width: 100%;
    height: 421px;
  }
  .hero-bg-1200 {
    display: none;
  }
  /* END HERO */

  /* START MOTTO */
  .motto-container {
    width: 441px;
    height: 80px;
    opacity: 0.8;
    top: 341px;
    margin-left: 46px;
    margin-right: 281px;
  }
  .motto {
    margin: 15px 30px;
  }

  /* END MOTTO */

  /* START ABOUT US */
  .about-us {
    background-color: var(--white);
  }
  .about-us-container {
    background-color: var(--white);
    margin-top: 15px;
    margin-bottom: 44px;
    padding-bottom: 0px;
  }
  .about-us-title {
    margin-top: 45px;
    margin-bottom: 15px;
  }
  /* END ABOUT US */
}

/* DESKTOP Y TABLET */
@media all and (min-width: 1200px) {
  /* START HERO */
  .hero-bg {
    display: none;
  }
  .hero-bg-768 {
    display: none;
  }
  .hero-bg-1200 {
    display: inline-block;
    top: 0px;
    width: 100%;
    height: 550px;
  }
  /* END HERO */

  /* START MOTTO */

  /* END MOTTO */

  /* START ABOUT US */
  /* END ABOUT US */
}

/*  2 version */

@import "core/variables";
@import "core/reset";
@import "components/code";
@import "components/links";
@import "layout/page";
@import "layout/header";
@import "layout/footer";
@import "pages/index";

:root {
  --dark-green: #099d8d;
  --light-green: #14d9c4;
  --white: #ffffff;
  --black: #000000;
  --dark-grey: #54585a;
  --light-grey: #b8b8b9;
  --grey-bg: #f1f1f1;
  --main-font: Open Sans, sans-serif;
  --second-font: Rubik, sans-serif;
}

/* START HEADER  */

.tittle {
  background-color: var(--dark-green);
  opacity: 0.95;
  color: var(--white);
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  border: 1px solid var(--light-grey);
  text-transform: uppercase;
  font-family: var(--second-font);
  font-size: 16px;
  line-height: 30px;
  z-index: 2;
}

.links-menu {
  color: var(--white);
  text-decoration: none;
}
.menu {
  background-color: var(--light-green);
  padding: 20px;
  opacity: 0.95;
  box-sizing: border-box;
  width: 100%;
  height: 45px;
  border: 1px solid var(--light-grey);
  position: fixed;
  transform: translate(0, 130%);
  font-family: var(--second-font);
  font-size: 15px;
  z-index: 2;
}
.menu-nietos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

/* END HEADER */

/* START HERO */

.container {
  margin-left: 15px;
  margin-right: 15px;
}

.hero-bg {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 421px;
}
.hero-bg-768 {
  display: none;
}
.hero-bg-1200 {
  display: none;
}

/* END HERO */

/* START MOTTO */
.motto-container {
  position: absolute;
  z-index: 1;
  top: 387px;
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.motto {
  text-align: left;
  margin-top: 14px;
  margin-bottom: 16px;
  margin-left: 15px;
  margin-right: 15px;
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
}

/* END MOTTO */

/* START ABOUT US */
.about-us {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}
.about-us-container {
  text-align: center;
  background-color: var(--white);
  /* padding-bottom: 30px; */
}

.about-us-title {
  /* position: relative;
    text-align: center; */
  margin-top: 497px;
  margin-bottom: 15px;
  margin-right: auto;
  margin-left: auto;
  color: var(--light-green);
  font-weight: 500;
  font-size: 24px;
  text-transform: uppercase;
  font-family: "Rubik", sans-serif;
}
.paragraphs {
  color: #54585a;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  font-family: "Open Sans", sans-serif;
}
/* END ABOUT US */

/* START SQUARE */
.square {
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  transform: rotate(45deg) translate(10px, 10px);
  width: 30px;
  height: 30px;
  background-color: #14d9c4;
  /* margin-top: -14px; */
}

/* END SQUARE */

/* START ADALABERS */

.members {
  background-color: var(--white);
  font-family: "Rubik", sans-serif;
  text-align: center;
}

#who-we-are {
  color: var(--dark-green);
  font-weight: 500;
  font-size: 24px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.foto_adalaber1 {
  width: 180px;
  height: 180px;
  padding-bottom: 15px;
  border-radius: 20px;
}

.foto_adalaber {
  width: 180px;
  height: 180px;
  padding-bottom: 15px;

  border-radius: 20px;
}

.parr {
  color: var(--dark-grey);
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.style_name {
  color: var(--black);
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  padding-bottom: 10px;
}

.icon_sm {
  font-size: small;
  padding-top: 15px;
  padding-bottom: 30px;
}

.icon_color {
  color: var(--dark-green);
}

/* END ADALABERS */

/* STRENGTHS AND WEAKNESSES */

/* END STRENGTHS AND WEAKNESSES */

/* FOOTER */

.footer {
  width: 100%;
  height: 250px;
  box-sizing: border-box;
  border: 1px solid var(--light-grey);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.nombre {
  width: 172px;
  height: 20;
  color: #b8b8b9;
  font-size: 14px;
  font-family: var(--main-font);
}
.footer-nav {
  width: 100%;
  height: 60px;
}
.footer-menu {
  text-decoration: none;
  color: #54585a;
  font-family: var(--main-font);
  font-size: 14px;
}
.image {
  width: 115.9px;
  height: 45px;
}

/* END FOOTER */

@media all and (min-width: 768px) {
  .container {
    margin: 0 45px;
  }
  /* START HERO */
  .hero-bg {
    display: none;
  }
  .hero-bg-768 {
    display: inline-block;
    top: 0px;
    width: 100%;
    height: 421px;
  }
  .hero-bg-1200 {
    display: none;
  }
  /* END HERO */

  /* START MOTTO */
  .motto-container {
    width: 441px;
    height: 80px;
    opacity: 0.8;
    top: 341px;
    margin-left: 46px;
    margin-right: 281px;
  }
  .motto {
    margin: 15px 30px;
  }

  /* END MOTTO */

  /* START ABOUT US */
  .about-us {
    background-color: var(--white);
  }
  .about-us-container {
    background-color: var(--white);
    margin-top: 15px;
    margin-bottom: 44px;
    padding-bottom: 0px;
  }
  .about-us-title {
    color: var(--dark-green);
    margin-top: 45px;
    margin-bottom: 15px;
  }
  /* END ABOUT US */

  /* START ADALABERS */
  /*.members {
      background-color: var(--white);
      font-family: "Rubik", sans-serif;
      text-align: center;
    }
  */
  #who-we-are {
    padding-top: 45px;
    padding-bottom: 45px;
  }

  /*
    .foto_adalaber1 {
      width: 180px;
      height: 180px;
      padding-bottom: 15px;
      border-radius: 20px;
    }
  
    .foto_adalaber {
      width: 180px;
      height: 180px;
      padding-bottom: 15px;
  
      border-radius: 20px;
    }
  
    .parr {
      color: var(--dark-grey);
      font-family: "Open Sans", sans-serif;
      font-size: 16px;
      line-height: 24px;
    }
  
    .style_name {
      color: var(--black);
      font-family: "Open Sans", sans-serif;
      font-size: 20px;
      padding-bottom: 10px;
    }
  
    .icon_sm {
      font-size: small;
      padding-top: 15px;
      padding-bottom: 30px;
    }
  
    .icon_color {
      color: var(--dark-green);
    }
    /* START ADALABERS */
}

/* DESKTOP Y TABLET */
@media all and (min-width: 1200px) {
  .container {
    margin: 0 300px;
  }
  /* START HERO */
  .hero-bg {
    display: none;
  }
  .hero-bg-768 {
    display: none;
  }
  .hero-bg-1200 {
    display: inline-block;
    top: 0px;
    width: 100%;
    height: 550px;
  }
  /* END HERO */

  /* START MOTTO */
  .motto-container {
    width: 574px;
    height: 90px;
    opacity: 0.8;
    top: 460px;
    margin-left: 138px;
    margin-right: 488px;
  }
  .motto {
    margin: 15px 30px;
    font-size: 24px;
    line-height: 30px;
  }
  /* END MOTTO */

  /* START ABOUT US */
  .about-us {
    background-color: var(--white);
  }
  .about-us-container {
    background-color: var(--white);
    margin-top: 15px;
    margin-bottom: 60px;
    padding-bottom: 0px;
  }
  .about-us-title {
    color: var(--dark-green);
    margin-top: 45px;
    margin-bottom: 15px;
  }
  /* END ABOUT US */
}
